.bioContainer {
    margin-top: 20px;
}

.blurb {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: auto;
}

.blurb > p {
    font-size: 22px;
    margin: 5px;
    color: #e8e8e8;
}

body {
    margin: 0;
    padding: 0;
}

.bottom {
  position: absolute;
  bottom: 2%;
}

#contact {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#contactBox > h4 > a {
    text-decoration: underline;
    color: #e8e8e8;
}

#contactBox > h4 > a:hover {
  font-size: 125%;
}
.emailImage {
  width: 64px;
  height: 64px;
}

footer {
    color: #e8e8e8;
    display: block;
    border-top: solid 1px #e8e8e8;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

footer > * {
    display: inline-block;
}

footer > a {
    text-decoration: underline;
    color: #e8e8e8;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    color: rgba(0, 0, 0, 0.985);
    background-color: #f2f2f2;
    font-size: 36px;
    padding: 5px;
    border-radius: 5px;
}
h2{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.985);
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

h3 {
    color: #f2f2f2;
    display: block;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

h4  {
    color: #f2f2f2;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h5 {
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-size: 16px;
}

h6 {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 14px
}

.hero {
  width: 100%;
  position: relative;
}

.heroImage {
  width: 100%;
  object-fit: fill;
  height: 500px;
  margin: 0;
  padding: 0;
}


html {
    background-color: rgba(0, 0, 0, 0.985);
}

.left {
  left: 15%;
}

main {
  text-align: center;
}

nav {
    z-index: 1;
    position: fixed;
    top: 0px;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.985);
    width: 100%;
    left: 0px;
    text-align: center;
}


nav > div > * {
    display: inline-block;
}

nav > div > a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    color: #f2f2f2;
    text-decoration: none;
}

nav > div > span > a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    color: #f2f2f2;
    text-decoration: none;
}

.navBarContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 90%;
}

.project {
    background-color: #f2f2f2;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: inline-block;
    border-radius: 5px;
    height: 700px;
    vertical-align: top;
}
.project > h4 {
    color: rgba(0, 0, 0, 0.985);
    margin-bottom: 20px;
}

.projectImage > a {
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
}

.projectImage > .first:hover {
    transform: rotate(-20deg);
}

.projectImage > .second:hover {
    transform: rotate(20deg);
}


.projectImage > a {
   transition: all 0.25s ease-in-out 0s; 
}

.personal {
    display: inline-block;
    width: 50%;
    text-align: center;
    color: #f2f2f2
}

.personal > a {
    padding: 10px;
}

.personal > p {
    display: inline-block;
    font-size: 22px;
}

.projectImage {
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.985);
    border-bottom: 1px solid rgba(0, 0, 0, 0.985);
}

.projectInfo {
    display: inline-block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.projectInfo > p {
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding: 5px;
}

.projectInfo > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.projectInfo > div > ul > li {
    margin: 0;
    padding: 0;
}

.right {
  right: 15%;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

section > .contactBox {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.techStack {
    text-align: center;
}

.techStack > p {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.websiteImage {
    width: 100%;
    padding: 2%;
    object-fit: cover;
}

@media only screen and (max-width: 415px) {
    .techStack {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 520px) {

    .navABlock {
        display: none;
    }

}

@media only screen and (max-width: 635px) {
    nav > div > a, nav > div > span > a {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}



@media only screen and (max-width: 1000px) {
    .blurb {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }

    .personal {
        display: block;
        width: 100%;
    }
    .projectImage {
        order: 2;
        width: 100%;
        padding: 5px;
    }
    .projectInfo {
        order: 1;
        width: 100%;
        padding: 5px;
    }
    section {
        flex-direction: column;
    }
}
